bin
dist
design

assets/screenshot.png

**/Dockerfile*
**/.dockerignore

**/.git
**/.gitignore
**/.gitattributes

**/.github
**/.changeset
**/.devcontainer
**/.env

.editorconfig
.vscodeignore

**/.idea
**/.vscode
**/.vscode-test/**
**/npm-debug.log

### Yarn 4
.yarn
.yarnrc.*
.pnp.*

### Taskfile
Taskfile.*
